@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
  --background: rgb(23,73,77,0.3);
  --title: #30668c;
  --text: #606062;
  --action: #ff4600;
  --actionBg: #fff;
  --default: #b8b8c0;
  --success: #006400;
  --error: #ff0000;
}

* {
  box-sizing: border-box;
}
html {
  overflow-y: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {  
  background: var(--background);
  border-radius: 8px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header span {
  color: var(--text)
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title .icon {
  display: inline-block;
  font-size: 22px;
  width: 25px;
  color: var(--title);
}

.title h2 {
  color: var(--title);
}

.inputBox {
  position: relative;
  margin: 40px 0 20px;
  width: 100%;
}

.inputBox input {
  position: absolute;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--default);
  outline: none;
  padding: 10px 0;
  width: 100%;
  color: var(--title);  
  transition: 0.5s;  
}

.inputBox.active input {
  border-bottom: 2px solid var(--action);
}

.inputBox label {
  position: relative;  
  color: var(--text);
  padding: 10px 0;
  display: inline-block;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox.active label {
  color: var(--action);
  transform: translateY(-30px);
}

.inputFooter {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px; 
}

.inputFooter button {
  background: var(--actionBg); 
  color: var(--title);
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 10px 0 0;
  cursor: pointer;  
  transition: 0.5s;  
  font-weight: 500;
}

.inputFooter button:hover {
  background: var(--action);
  color: var(--actionBg); 
}

.inputFooter span {
  color: var(--error);
}

.tickets {  
  display: flex;
  flex-direction: column;  
}

.tickets hr {
  margin: 20px 10px;  
  color: var(--action);
}

.tickets h2 {  
  color: var(--title);
  font-weight: 500;
  margin-bottom: 10px;
}

.tickets a {
  text-decoration: none;
  color: var(--title);
  padding: 5px 5px;
  background-color: var(--actionBg);
  border-radius: 8px;
  transition: 0.5s;  
}

.tickets a:hover {
  color: var(--actionBg);
  background-color: var(--action);
}

.tickets p {  
  margin: 5px 0 20px 0;    
  font-size: 12px;
  color: var(--text);
}






